name: ci
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - 3.6
          - 3.7
          - 3.8
          - 3.9
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_PASSWORD: test
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 30s --health-retries 15
        volumes:
          - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: before test
        run: |
          python -m pip install --upgrade pip
          pip install tox
          tox -e lint
      - name: run tests
        run: |
          tox -e py
        env:
          PG_USER: postgres
          PG_NAME: postgres
          PG_PASS: test
          PG_HOST: localhost:${{ job.services.postgres.ports[5432] }}
  release:
    needs: [ test ]
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: install dependencies
        run: python -m pip install tox
      - name: release
        run: tox -e release
        env:
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
